global
  maxconn 40000
  stats socket /run/haproxy/haproxy.sock mode 600 expose-fd listeners level admin
  expose-experimental-directives
  httpclient.resolvers.prefer ipv4
  httpclient.ssl.ca-file /etc/pki/tls/certs/ca-bundle.crt
  shm-stats-file /dev/shm/myshm
 
  # log /dev/log local0 
  log stderr format short daemon
  tune.lua.bool-sample-conversion normal
  lua-load trisdemo.lua

defaults base
  log global
  option dontlognull
  timeout http-request 10s
  timeout connect 10s
  timeout client 60s
  timeout server 60s
  timeout tarpit 30s
  timeout queue 10s

defaults http from base
  mode http
  option httplog

defaults tcp from base
  mode tcp
  option tcplog

defaults cloudflare from http
  acl is_cloudflare src -f /var/lib/haproxy/cloudflare-ips.lst
  http-request set-src hdr(CF-Connecting-IP) if is_cloudflare
  # option forwardfor
  http-request set-header X-Forwarded-For %[src]
  http-request set-header X-Real-IP %[src]

acme letsencrypt
  directory https://acme-v02.api.letsencrypt.org/directory
  contact acme-ha@redpilled.dev
  # challenge http-01
  challenge dns-01
  keytype ECDSA
  curves P-256
  # map virt@acme

crt-store cert
  # crt-base /var/lib/haproxy
  # key-base /var/lib/haproxy
  # load crt "redpilled.dev.pem" acme "letsencrypt-staging" domains "test.redpilled.dev" alias "test"
  load crt "redpilled.dev.pem" acme "letsencrypt" domains "redpilled.dev,*.redpilled.dev,*.ts.redpilled.dev" alias "main"

# map one TCP port to each game
.notice 'use "socat TCP-CONNECT:redpilled.dev:1337 STDIO,raw,echo=0" to start playing'
frontend trisdemo from tcp
  guid f-trisdemo
  mode tcp
  bind :1337
  tcp-request content use-service lua.trisdemo

frontend www from cloudflare
  guid f-www
  bind :80
  bind :443 ssl # allow-0rtt
  bind quic4@:443 ssl # allow-0rtt

  http-request set-header Host %[hdr(host),host_only,lower] # remove port from host header

  http-request normalize-uri fragment-strip
  http-request normalize-uri path-merge-slashes
  http-request normalize-uri path-strip-dot
  http-request normalize-uri path-strip-dotdot full

  # acl safe_0rtt_method method GET HEADER CONNECT OPTIONS TRACE
  # http-request wait-for-handshake if { ssl_fc_has_early } !safe_0rtt_method # 0rtt is only for meth lovers

  # http-request deny deny_status 425 if { ssl_fc_has_early } !safe_0rtt_method

  # http-after-response add-header alt-svc 'h3=":443"; ma=60'
  http-response set-header "alt-svc" 'h3=":443"; ma=86400'

  # http-response set-header "x-fake-cluster-id" "hello from the very unreuuuuual spam relay %[rand(10)] lmao"
  # http-response set-header "x-proxy" "HAHAProxy"

  http-request capture req.hdr(host) len 256
  log-format "%ci:%cp %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"

  # bind *:26443 ssl
  ssl-f-use crt "@cert/main"

  http-request redirect scheme https if !{ ssl_fc } !{ path_beg /.well-known/ }
  http-request redirect prefix https://redpilled.dev code 301 if { hdr(host) www.redpilled.dev }

  # http-request return status 200 content-type text/plain lf-string "%[path,field(-1,/)].%[path,field(-1,/),map(virt@acme)]\n" if { path_beg '/.well-known/acme-challenge/' }
  # ssl-f-use crt "test.redpilled.dev.pem" acme "letsencrypt-staging" domains "test.redpilled.dev"

  # http-request return status 200 content-type "text/plain" lf-string "host: %[hdr(host)], host: %[req.hdr(host)], src: %[src]" 

  # http-request set-var(txn.host) req.hdr(host),lower,word(1,:)
  # http-request set-header host %[hdr(host),field(1,:)]

  # log-format "%ci:%cp [%tr] %ft %b/%s %Tq/%Tw/%Tc/%Tr/%Tt %ST %B %CC/%CS/%tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hrl %hsl %r"

  http-request tarpit deny_status 404 if { path_end .php } # no bad languages are allowed

  # acl is_headscale base_beg -i headscale.redpilled.dev

  # use_backend vault if { req.hdr(host),lower,word(1,:) vault.redpilled.dev }

  # acl is_mail base_reg -i '^(mail|mta-sts|autoconfig|autodiscover)\.redpilled\.dev'
  # acl is_mail base_reg -i '^redpilled\.dev/(jmap|auth|healthz)'
  # acl is_mail base_reg -i '^redpilled\.dev/\.well-known/(oauth-authorization-server|openid-configuration|jmap)'
  # use_backend mail if is_mail

  acl is_mail_dom hdr(host) mail.redpilled.dev mta-sts.redpilled.dev autoconfig.redpilled.dev autodiscover.redpilled.dev
  acl is_mail_path path_beg /jmap /auth /healthz
  acl is_mail_path path_beg /.well-known/oauth-authorization-server /.well-known/openid-configuration /.well-known/jmap
  use_backend mail if is_mail_dom || { hdr(host) redpilled.dev } is_mail_path

  acl is_stats_dom hdr(host) redpilled.dev
  acl is_stats_path path_beg /haproxy/stats
  acl is_stats_allowed_ips src 127.0.0.1/8 ::1 176.122.119.16 100.64.0.1/24
  use_backend stats if is_stats_dom is_stats_path is_stats_allowed_ips

  acl is_vault hdr(host) vault.redpilled.dev
  use_backend vault if is_vault

  acl is_headscale hdr(host) headscale.redpilled.dev
  use_backend headscale if is_headscale

  acl is_website hdr(host) redpilled.dev
  use_backend website if is_website

  # use_backend vault if { hdr(host) vault.redpilled.dev }
  # use_backend headscale if { hdr(host) headscale.redpilled.dev }
  # use_backend website if { hdr(host) redpilled.dev }

  # use_backend mail if { hdr(host) mail.redpilled.dev mta-sts.redpilled.dev autoconfig.redpilled.dev autodiscover.redpilled.dev }

  # use_backend mail if { hdr(host) redpilled.dev } { path_dir /.well-known/oauth-authorization-server /.well-known/openid-configuration /.well-known/jmap }
  # use_backend mail if { hdr(host) redpilled.dev } { path_dir /jmap /auth /healthz }
  # use_backend mail if { hdr(host) mta-sts.redpilled.dev } { path /.well-known/mta-sts.txt }
  # use_backend mail if { hdr(host) autoconfig.redpilled.dev } { path /.well-known/mail-v1.xml /.well-known/autoconfig/mail/config-v1.1.xml /mail/config-v1.1.xml }
  # use_backend mail if { hdr(host) autodiscover.redpilled.dev } { path /autodiscover/autodiscover.xml }

  # acl is_mail base_beg mta-sts.redpilled.dev/.well-known/mta-sts.txt

  # acl is_mail base_beg autoconfig.redpilled.dev/.well-known/mail-v1.xml
  # acl is_mail base_beg autoconfig.redpilled.dev/.well-known/autoconfig/mail/config-v1.1.xml
  # acl is_mail base_beg autoconfig.redpilled.dev/mail/config-v1.1.xml
  # acl is_mail base_beg autodiscover.redpilled.dev/autodiscover/autodiscover.xml
  # acl is_mail path_beg /jmap /auth /healthz
  # acl is_mail path_beg /.well-known/oauth-authorization-server /.well-known/openid-configuration /.well-known/jmap

  # http-request return status 418 content-type "text/plain" lf-string "ERR not FOUND" 
  default_backend error

backend stats from http
  guid b-stats
  stats enable
  stats hide-version
  stats uri /haproxy/stats
  stats refresh 10s
  # stats admin if LOCALHOST

backend mail from http
  guid b-mail
  # http-response return status 418 content-type "text/plain" lf-string "ERR not FOUND" 
  # server mailhttp 127.0.0.1:10080 ssl verify none alpn http/1.1 send-proxy-v2
  server s1 127.0.0.1:10080 send-proxy-v2 guid b-mail-s1
  # http-response deny deny_status 404 if { status 404 }

  # http-response return status 418 content-type "text/plain" string "ERR not FOUND" if { status 404 }
  # http-request return status 200 content-type "text/plain" lf-string "Ole Korrekt" 
  # http-after-response return status 503 content-type text/plain string "Custom Error: %[res.len]"
  # http-response return status 503 content-type text/plain string "Custom Error: %[res.len]" if { res.len 0 }
  # http-response return status 503 content-type text/plain string "Custom Error: Backend returned empty 404" if { res.len 0 }

# listen bk_smtp from tcp
#   server stalwart_mail_smtp 127.0.0.1:10025 send-proxy-v2
# listen bk_imap from tcp
#   server stalwart_mail_imap 127.0.0.1:10143 send-proxy-v2
# listen bk_smtps from tcp
#   server stalwart_mail_smtps 127.0.0.1:10465 send-proxy-v2
# listen bk_imaps from tcp
#   bind *:993
#   server stalwart_mail_imaps 127.0.0.1:10993 send-proxy-v2
# listen bk_https from tcp
#   bind *:443
#   server stalwart_mail_https 127.0.0.1:10443 send-proxy-v2

backend website from http
  guid b-website
  compression algo gzip
  compression type text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript

  # http-send-name-header Host
  server s1 caddy.internal:8000 alpn http/1.1 guid b-website-s1
  http-response deny deny_status 404 if { status 404 }

backend vault from http
  guid b-vault
  compression algo gzip
  compression type text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript

  acl is_admin_path path_beg -i /admin
  http-request redirect location "/" if is_admin_path

  server s1 vaultwarden.internal:8000 alpn http/1.1 guid b-vault-s1

backend headscale from http
  guid b-headscale
  server s1 headscale.internal:8000 alpn http/1.1 guid b-headscale-s1
  http-response deny deny_status 404 if { status 404 }

backend error from http
  guid b-error
  # http-request return status 418 content-type "text/plain" lf-string "ERR not FOUND" 
  http-request deny deny_status 404
